.wrapBlockLink {
    border: silver 1px solid;
    text-decoration: none;
    padding: var(--space-biggest);
}

.wrapBlockLink:hover {
    outline: var(--main-menu-bg-color) 5px solid;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(min-content, var(--productCard-max-width)));
    grid-column-gap: var(--space-biggest);
    grid-row-gap: var(--space-biggest);
}
