/*mise en place d'une grille*/
.mainGridContainer {
    display: grid;

    grid-template-areas:    "h h"
                            "n c"
                            "f f";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr 50px;
}

.siteHeader {
    grid-area: h;
}
.mainMenu {
    grid-area: n;
}
.siteFooter {
    grid-area: f;
}
.mainContent {
    grid-area: c;
}
