/* Block image */

/* style par défaut du bloc "image" */
.image {
    height: 300px;
    width: 300px;
}

/* modificateurs pour l'élément image afin de mettre à l'échelle "la plus basse" l'image par rapport à ses dimensions */
img.--scale {
    object-fit: scale-down;
    /*border: solid 1px pink;*/
}

/* modificateur pour la taille de l'image */
img.--small {
    height: 150px;
    width: 150px;
}

/* modificateur pour la taille de l'image */
img.--medium {
    height: 300px;
    width: 300px;
}

/* modificateur pour la taille de l'image */
img.--big {
    height: 450px;
    width: 450px;
}

