
.productCard {
    max-width: var(--productCard-max-width);
    margin: auto;
}

.productCard__title {

    --line-height: 2.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    line-height: var(--line-height);
    min-height: calc(var(--line-height) * 2);
    padding: var(--space-medium);
    color: var(--main-menu-bg-color);
}

.productCard__image {
    text-align: center;
}


.productCard__description {
    text-align: center;
    padding: var(--space-medium);
}

.productCard__image img {
    width: var(--productCard-max-width);
    height: var(--productImage-max-height);
}


.productCard__price {
    margin: auto;
    text-align: center;
    width: 80px;
    background-color: var(--main-menu-bg-color);
    font-weight: bold;
    border-radius: 3px;
    padding: var(--space-smallest);
    color: white;
    letter-spacing: 1px;
}